
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 16px;
}

.container {
    max-width: 1226px;
    margin-inline: auto;
    padding-inline: 20px;
}

.flex {
    display: flex;
    /* align-items: center; */
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/* navbar */

.main-nav {
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.company-logo {
    align-items: center;
}

.company-logo img {
    width: 130px;
    
}

.nav-links ul {
     justify-content: end;
     gap: 40px;
}

ul {
    list-style: none;
    align-items: center;
 }

.hover-link {
    color: #00000099;
    opacity: 90%;
    font-size: 16px;
}

.hover-link:hover {
    color: black;
}
.btn{
    height: min-content;
    min-height: 48px;
    border-radius: 24px;
    font-weight: 600;
    padding: 12px 24px;
    font-size: 16px;
}

.join-now {
    background-color: white;
    color: rgb(121, 104, 104) !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
}

.join-now:hover {
    background-color: #F5F4F2;
}

.sign-in, .adv-link {
    background-color: white;
    color: #0a66c2;
    box-shadow: 0 0 0 1px #0a66c2;
}

.sign-in:hover, .adv-link:hover {
    border-color: #2294ed;
    color: #2294ed !important;
}

/* header */

.header-section {
    
    /* position: relative; */
    width: 100%;
    /* justify-content: center; */
    gap: 50px;
    align-items: center;
}

header {
    padding: 50px 20px 0;
}

.header-left {
    width: 55%;
}

.main-heading {
    margin-top: 20px;
    font-size: 56px;
    font-weight: 200;
    color: #8f5849;;
}

.header-right{
    width: 45%;
}

.header-right img {
     width: 700px;
}

.form {
    margin-top: 24px;
    width: 400px;
    
}

.mt1 {
       margin-top: 30px;
}
.mb1 {
    margin-bottom: 10px;
}

.input-label {
    color: rgba(0, 0, 0, 0.75);;
    font-size: 14px;
    font-weight: 600;
}

.text-input {
    background-color:rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    height: 55px;
}

.text-input:hover {
    border-width: 2px;
    background-color: #F5F4F2;
}

.input {
    border: 1px solid transparent;
    width: 100%;
    outline-width: 0px;
}

.bg-color-trans {
    background-color: rgba(0, 0, 0, 0);;
}

.checkbox {
    margin-top: 10px;
    gap: 5px;
    font-size: 15px;
}

.forget {
    font-size: 15px;
    margin-top: 20px;
}

.forget:link, .forget:visited {
    color: #0a66c2;
}

.forget:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #004182;
}
.form-sign-in {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    
    background-color: #0a66c2;
    color: white;
}

.form-sign-in:hover {
   
    background-color: #004182;
    color: white !important;
    
    /* form */
}

.left-right-divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.pb-3{
    padding-bottom: 24px;
}

.pt-2 {
    padding-top: 16px;
}

.left-right-divider::before, .left-right-divider::after {
    height: 1px;
    width: auto;
    background-color: rgb(0 0 0 / 0.35);
    --tw-content: '';
    content: var(--tw-content);
    flex-grow: 1;
}

.fp-1 {
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0,  0.7);
    font-size: 20px;
}

.new {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0 0 1px black;
    color: #808080;
}

.new:hover {
    color: rgba(0, 0, 0,  0.7);
}

.section1 {
    margin-top: 25px;
    background-color: #eae6df;
    padding-top: 60px;
    padding-bottom: 60px;
}

.divl1 {
    width: 75%;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 80px;
    
}

.heading {
    font-size: 50px;
    font-weight: 200;
}

.para {
    margin-top: 15px;
    font-size: 20px;
}

.divr1 {
    /* width: 100%; */
    margin-left: 5%;
    margin-top: 50px;
    
}

.btn-links {
    font-size: 16px;
    box-shadow: 0 0 0 1px black;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 12px;
    margin-right: 3px;
}
.adv-link {
    background-color: #eae6df;
}
.btn-links:hover {
    background-color:lightgray;
    color: black;
}
 


.sec1ul {
    margin-top: 5px;
    width: 90%;
}

.sec1ul li {
    display: inline;
    align-items: center;
    
    
}

/* section-2 */

.section2 {
    background-color: white;
}
.divr2 {
    
    margin-left: 5%;
}

.sec2ul {
    margin-top: 20px;
}

.divl3 {
    width: 365px;
}

.section3 {
    background-color: #eae6df
}

.had-3 {
    font-size: 40px;
    font-weight: 400;
    color: #b24020;
}
.hada-3 {
    margin-top: 45px;
}

